h2{
    text-align: center;
    color: #1e90ff;
}
h3{
    color: #1e90ff;
}
.div1{
    text-align: center;
    background-color:#e6f7ff;
    width: 700px;
    margin: 0 auto;
}
.div2{
    text-align: center;
}