.div1{
    background-color: #f4f4f9;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
h1{
    color: #1e90ff;
}
i{
    color: #1e90ff;
}
.div2{
    text-align: center;
}
h2{
    color: #1e90ff;
}
.p1{
    color: red;
}
.p2{
    text-decoration: underline;
}