
body {
    text-align: center;
    border: 1px solid black;
}
.banner {
    height: 150px;
    width: 100%;
    background-color: #1eff29;
    color: black;
    padding-top: 75px;
}
.cham {
    text-decoration: underline dotted;
}