body {
    background-color: lightgray;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: center;
    text-align: center;
}
.food {
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.food img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
.food h4 {
    margin-top: 10px;
    font-size: 20px;
}
